
.post-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style: none;
}

.list-item {
    background: lightblue;
    margin: 20px;
    width: 70%;
    min-width: 300px;
    border: 1px solid black;
}

.vote-button {
    margin: 0px 10px 0px 10px;
    width: 55px;
}

summary {
    list-style: none;
}

.summary-image {
    width: 50px;
    cursor: pointer;
}

summary::-webkit-details-marker {display: none; }