
.post-list-area {
    width: 100%;
   margin: auto;
   text-align: center;
}

.post-list {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style: none;
}

.list-item {
    background:  #E7E3D4;
    margin: 20px;
    width: 50%;
    min-width: 420px;
    border: 1px solid black;
    box-shadow: 1px 1px 3px;
    font-family: verdana, arial, helvetica, sans-serif;
}

.list-item a {
    text-decoration: none;
    color: #c23104
}

.list-item .image {
    width: 400px;
}

.list-item iframe {
    height: 400px;
    /* width: 400px; */
    border: 0px inset 
}

.vote-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vote-button {
    margin: 0px 10px 0px 10px;
    width: 55px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}

summary {
    list-style: none;
    width: 6%;
    margin: 20px auto 0px auto;
}

.summary-image {
    margin: 15px;
    width: 50px;
    cursor: pointer;
}

.delete-button {
    margin: 10px;
    cursor: pointer;
}

summary::-webkit-details-marker {display: none; }